<section class="px-8 py-12 bg-gray-50 ">
    <h2 class="text-2xl font-semibold text-orange-400 mb-10 flex justify-center">Contact us</h2>
    <form class="space-y-4 max-w-xl ml-80">
      <input type="text" placeholder="Your Name" class="w-full border p-2 rounded">
      <input type="email" placeholder="Your Email" class="w-full border p-2 rounded">
      <textarea placeholder="Your Message" class="w-full border p-2 rounded h-32"></textarea>
      <button type="submit" class="bg-yellow-400 px-4 py-2 rounded hover:bg-yellow-500 ml-56 mb-20">Send Message</button>
    </form>
    <div class="flex justify-center space-x-6 mt-10 ml-9">
      <a href="#"><img src="/./facebook.png" alt="Facebook" class="w-10 h-9"></a>
      <a href="#"><img src="/./instagram.png" alt="Instagram" class="w-10 h-9"></a>
      <a href="#"><img src="/./twitter.png" alt="Twitter" class="w-10 h-9"></a>
    </div>
  </section>